@model IEnumerable<MovieCatalog.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.Director, @item.Genre , @item.ReleaseDate</div>
        <hr /> 
    </div>
}
